.nav-style {
    border-radius: 5px;
    flex-grow: 1;
    
}

.text-style {
    text-align: center;

}
.link {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

p {
    margin:0;
    padding: 10px;
}